* {
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
  height: 100%;
  background-image: url(http://theartmad.com/wp-content/uploads/Dark-Grey-Texture-Wallpaper-5.jpg);
  background-size: cover;
  background-position: top center;
  font-family: helvetica neue, helvetica, arial, sans-serif;
  font-weight: 200;
}

html.modal-active,
body.modal-active {
  overflow: hidden;
}

.modal {
  width: 400px;
  height: 800px;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 2px 3px 0 rgb(34 36 38 / 15%);
  line-height: 40px;
}

.modal-head {
  text-align: left;
}

/* 전체 박스 */
#modal-container {
  position: fixed;
  display: table;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  transform: scale(0);
  z-index: 1;
}

#modal-container {
  z-index: 0;
  transform: scale(1);
}
#modal-container.four .modal-background {
  background: rgba(0, 0, 0, 0.7);
}
#modal-container.four .modal-background .modal {
  animation: blowUpModal 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
#modal-container.four + .content {
  z-index: 1;
  animation: blowUpContent 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
#modal-container.four.out .modal-background .modal {
  animation: blowUpModalTwo 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
#modal-container.four.out + .content {
  animation: blowUpContentTwo 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

#modal-container .modal-background {
  display: table-cell;
  background: rgba(0, 0, 0, 0.8);
  text-align: center;
  vertical-align: middle;
}
#modal-container .modal-background .modal {
  background: white;
  padding: 29px;
  display: inline-block;
  border-radius: 10px;
  font-weight: 300;
  position: relative;
}

#modal-container .modal-background .modal h1 {
  font-size: 30px;
  line-height: 32px;
  margin-bottom: 9px;
}

#modal-container .modal-background .modal p {
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 50px;
}

/* 본문 버튼 */
.content {
  min-height: 100%;
  height: 100%;
  background: white;
  position: relative;
  z-index: 0;
}

.content .buttons {
  max-width: 800px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

.content .buttons .button {
  display: inline-block;
  text-align: center;
  padding: 10px 15px;
  margin: 10px;
  background: red;
  font-size: 18px;
  background-color: #efefef;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.content .buttons .button:hover {
  color: white;
  background: #8d8d8d;
}

/* modal-select */
/* 네, 있어요 없어요 */

#modal-select {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  max-width: 1000px;
  margin: 12px 12px;
}

#modal-select2 {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  max-width: 1000px;
  margin: 0px 12px;
}

.btn-2 {
  box-sizing: border-box;
  position: relative;
  display: inline-block;
  width: 120px;
  height: 50px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.btn-2 span {
  position: relative;
  display: inline-block;
  font-size: 14px;
  font-weight: lighter;
  letter-spacing: 1px;
  text-transform: uppercase;
  top: 0;
  left: 0;
  width: 91px;
  padding: 11px 3px;
  transition: 0.3s;
  border-radius: 5px;
  border: 1px solid rgb(28, 31, 30);
}

.btn-3 {
  box-sizing: border-box;
  position: relative;
  display: inline-block;
  width: 146px;
  height: 50px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.btn-3 span {
  position: relative;
  display: inline-block;
  font-size: 14px;
  font-weight: lighter;
  letter-spacing: 1px;
  top: 0;
  left: 0;
  width: 128px;
  padding: 11px 3px;
  transition: 0.3s;
  border-radius: 5px;
  border: 1px solid rgb(28, 31, 30);
}

/*--- btn-2 ---*/

.btn-2 span:hover {
  color: rgb(255, 255, 255);
  transition: 0.2s 0.1s;
  background-color: rgb(28, 31, 30);
  transition: 0.3s ease-out;
}

.btn-3 span:hover {
  color: rgb(255, 255, 255);
  transition: 0.2s 0.1s;
  background-color: rgb(28, 31, 30);
  transition: 0.3s ease-out;
}

/* close */

.modal .close {
  position: relative;
  width: 40px;
  height: 40px;
  top: -11px;
  left: 170px;
  opacity: 0.8;
  transition: all 200ms;
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  color: #666;
}

@keyframes blowUpContent {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  99.9% {
    transform: scale(2);
    opacity: 0;
  }
  100% {
    transform: scale(0);
  }
}
@keyframes blowUpContentTwo {
  0% {
    transform: scale(2);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes blowUpModal {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes blowUpModalTwo {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0);
    opacity: 0;
  }
}
