#simpleModal {
  text-align: center;
  transition: 0.2s;
}

.modalButton {
  background: #8d95d6;
  padding: 0.4em 1em;
  border-radius: 3px;
  color: #fff;
  border: 0;
}

.modalButton:hover {
  background: #d4def0;
  cursor: pointer;
}

.modal {
  display: none;
}

.modal-background {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
  animation: blowUpModal 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

.modal-header {
  text-align: left;
}

.modal-content {
  background-color: #f4f4f4;
  width: 400px;
  height: 870px;
  margin: 5% auto;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
  animation: blowUpModal 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

.out {
  animation: blowUpModalTwo 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

.closeBtn {
  color: #ccc;
  float: right;
  font-size: 30px;
  cursor: pointer;
  top: -11px;
  left: 170px;
  position: relative;
  transition: 0.2s;
}

.closeBtn:hover,
.closeBtn:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* modal-select */
/* 네, 있어요 없어요 */
#modal-select {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  max-width: 1000px;
  margin: 12px 12px;
}

#modal-select .btn-2 {
  box-sizing: border-box;
  position: relative;
  display: inline-block;
  width: 120px;
  height: 50px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  /* margin: 0px 25px 15px; */
  /* min-width: 150px; */
}

#modal-select .btn-3 {
  box-sizing: border-box;
  position: relative;
  display: inline-block;
  width: 146px;
  height: 50px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  /* margin: 0px 25px 15px; */
  /* min-width: 150px; */
}

#modal-select .btn-2 span {
  position: relative;
  display: inline-block;
  font-size: 14px;
  font-weight: lighter;
  letter-spacing: 1px;
  text-transform: uppercase;
  top: 0;
  left: 0;
  width: 91px;
  padding: 11px 3px;
  transition: 0.3s;
  border-radius: 5px;
}

#modal-select .btn-3 span {
  position: relative;
  display: inline-block;
  font-size: 14px;
  font-weight: lighter;
  letter-spacing: 1px;
  text-transform: uppercase;
  top: 0;
  left: 0;
  width: 128px;
  padding: 11px 3px;
  transition: 0.3s;
  border-radius: 5px;
}

/*--- btn-2 ---*/

.btn-2 span {
  color: rgb(28, 31, 30);
  border: 1px solid rgb(28, 31, 30);
  transition: 0.2s;
}

.btn-2 span:hover {
  color: rgb(255, 255, 255);
  transition: 0.2s 0.1s;
  background-color: #8d95d6;
  transition: 0.3s ease-out;
  border: 0;
}

.btn-2 span:focus {
  color: rgb(255, 255, 255);
  transition: 0.2s 0.1s;
  background-color: #8d95d6;
  transition: 0.3s ease-out;
}

.btn-3 span {
  color: rgb(28, 31, 30);
  border: 1px solid rgb(28, 31, 30);
  transition: 0.2s;
}

.btn-3 span:hover {
  color: rgb(255, 255, 255);
  transition: 0.2s 0.1s;
  background-color: #8d95d6;
  transition: 0.3s ease-out;
  border: 0;
}

@keyframes blowUpContent {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  99.9% {
    transform: scale(2);
    opacity: 0;
  }
  100% {
    transform: scale(0);
  }
}
@keyframes blowUpContentTwo {
  0% {
    transform: scale(2);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes blowUpModal {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes blowUpModalTwo {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0);
    opacity: 0;
  }
}
